HELP.md
target/
javadocs/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Intellij
.idea/
*.iml
*.iws

# Maven
log/
target/
/.checkstyle
